[features]
seeds = false
skip-lint = false

[programs.localnet]
oracle_token = "HJkUBA1W9Dcd83WC7CiCXpdZRc3iHQy7Pwp355jGWmNj"

[programs.devnet]
oracle_token = "HJkUBA1W9Dcd83WC7CiCXpdZRc3iHQy7Pwp355jGWmNj"

[programs.mainnet]
oracle_token = "HJkUBA1W9Dcd83WC7CiCXpdZRc3iHQy7Pwp355jGWmNj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
